/* FONTS */
@font-face {
    font-family: Visitor;
    src: url(../../assets/fonts/visitor.ttf);
 }

 /* ANIMATIONS */
@-webkit-keyframes yRotation {
    from {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}

@keyframes yRotation {
    from {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    } to {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}

@-webkit-keyframes load{
    from {
        width: 0
    }
}

@keyframes load{
    from {
        width: 0
    }
}

/* Set variables for colors because I'm lazy */
:root {
    --black: #17161c;
    --orange: #ed8431;
    --purple: #B53BFF;
    --blue: #10dce3;
}

.yRotate {
    -webkit-animation: yRotation 2s infinite linear;
            animation: yRotation 2s infinite linear;
}

/* BACKGROUND */
body {
    background-color: #0a0a0a;
}

/* TEXT */
body {
    color: #fff;
    font-size: 14px;
    font-size: calc(14px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-family: 'Source Sans Pro', sans-serif;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, th {
    color: var(--purple);
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    color: #fff;
}

a {
    color:#fff;
    transition: 0.3s;
}

a:hover, a:active {
    color: var(--orange);
    transition: 0.3s;
}

.highlight_1 {
    color: #fff;
}

.highlight_2 {
    color: var(--orange);
}

/* WHITESPACE */
main {
    padding-top: 30px;
    padding-bottom: 80px; /* To accomodate the navbar */
}

section {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

h2, h3, h4, h5 {
    margin-top: 25px;
}

h6 {
    font-style: italic;
    margin-top: 10px;
    color: darkgray;
}

/* PAGE SECTIONS */
.col {
    min-width: 300px;
}

/* Intro */
#intro {
    font-size: 2.7rem;
    font-weight: 300;
    font-family: Visitor;
    color: var(--purple);
}

/* Navbar */
.navbar {
    background-color: var(--purple);
}

.nav-link {
    cursor: pointer;
}

.intro-nav-link {
    padding: 0;
    display: inline;
}

.nav-item {
    margin-right: 16px;
}

.navbar .navbar-nav .nav-link {
    color: rgb(0 0 0 / 100%);
    font-family: Visitor;
}

/* Demo video */
#demo_video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

#demo_video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


/* Prog. language options */
.carousel-control-next, .carousel-control-prev {
    display: block !important;
    top: 65px;
}

#lang_options{
    width: 300px;
}

#lang_options_title, .lang_name, .stat_bar {
    font-family: 'Visitor';
}

#lang_options_title {
    font-size: 3.8rem;
    color: #B53BFF;
}

.lang_name {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lang_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

/* Stat bar */
.stat_bar, .stat_bar::before {
    height: 35px;
}

.stat_bar {
    background-color: #006f07;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 17px;
    color: #000;
}

.stat_bar::before {
    min-width: 75px;
    content: attr(data-stat);
    background-color: #4bff2f;
    display: inline-block;
    padding: 7px 10px;
    border-radius: inherit;
    -webkit-animation: load 2s 0s;
            animation: load 2s 0s;
}

.stat_bar.low::before {
    width: 40%;
}

.stat_bar.mid::before {
    width: 70%;
}

.stat_bar.high::before {
    width: 100%;
}

/* Why to participate? */
main ul {
    list-style: none;
    padding-left: 0;
}

main li:before {
    content: '▪ ';
    color: #4bff2f;
    font-size: 1.2em;
}

/* Supporters */
.supporter-img {
    width: 200px;
}

#baskin-robbins-img {
    width:250px;
    padding:1.5em;
    height:200px;
}

/* Archive */
#table {
    color:#fff
}

table td, table th {
    border: 0 !important;
    padding-left: 0 !important;
    padding-right: 1.5em;
}

.pdf-file {
    height: 30px;
}

/* Contact */
#asi_logo {
    max-width: 300px;
    display: block;
    margin-bottom: 30px;
}

/* First round tasks button */
.tasks_button {
    background-color: var(--purple);
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    transition: 0.3s;
    font-size: 1.1em;
}

.tasks_button:hover {
    background-color: #a379f7;
    transition: 0.3s;
}

.intro_link, #first_round a, #last_round a {
    color: var(--orange);
    transition: 0.3s;
}

.intro_link:hover, #first_round a:hover, #last_round a:hover {
    color: #36c221;
}

/* RESPONSIVNESS */
@media only screen and (min-width: 200px) {
    #intro {
        font-size: 2rem;
    }

    #lang_options_title {
        font-size: 2.2rem;
    }

    .stat_bar{
        max-width: 290px;
    }

}

@media only screen and (min-width: 768px) {
    #intro {
        font-size: 2.7rem;
    }
}

/* JAVASCRIPT */
/* To avoid flickering due to text reveal effect */
section:not(#introduction), #organizers {
    visibility: hidden;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.img_row {
    display: flex;
}

.img_column {
    flex: 33.33%;
    padding: 5px;
}

.img_in_column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
