/* FONTS */
@font-face {
    font-family: Visitor;
    src: url(../fonts/visitor.ttf);
 }

 /* ANIMATIONS */
@keyframes yRotation {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(180deg);
    }
}

@keyframes load{
    from {
        width: 0%
    }
}

.yRotate {
    animation: yRotation 2s infinite linear;
}

/* BACKGROUND */
body {
    background-color: #0a0a0a;
}

.navbar {
    background-color: rgb(255 119 61 / 95%);
}

/* TEXT */
body {
    color: #fff;
    font-size: 18px;
    font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, th {
    color:#23a7ff;
}

h1 {
    font-weight: bold;
}

a {
    color:#FFCC0A;
}

a:hover, a:active {
    color:#3040FF;
}

.highlight_1 {
    color:#FF773D;
}

#intro {
    font-size: 3rem;
}

.navbar .navbar-nav .nav-link {
    color: rgb(0 0 0 / 85%);
}

#participation li:before { 
    color: #4bff2f;
}


/* WHITESPACE */
main {
    padding-top: 30px;
    padding-bottom: 80px; /* To accomodate the navbar */
}

section {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

h2, h3, h4, h5 {
    margin-top: 25px;
}

.nav-item {
    margin-right: 16px;
}

#asi_logo {
    margin-bottom: 30px;
}

/* PAGE SECTIONS */
/* Navbar */
.nav-link {
    cursor: pointer;
}

/* Prog. language options */
.carousel-control-next, .carousel-control-prev {
    display: block !important;
    top: 75px;
}

#lang_options{
    width: 300px;
}

#lang_options_title, .lang_name, .stat_bar {
    font-family: 'Visitor';
}

#lang_options_title {
    font-size: 4rem;
    color: #B53BFF;
}

.lang_name {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lang_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

/* Stat bar */
.stat_bar, .stat_bar::before {
    height: 35px;
}

.stat_bar {
    background-color: #006f07;
    border-radius: 6px;
    margin-bottom: 6px;
    font-size: 17px;
    color: #000;
}

.stat_bar::before {
    min-width: 75px;
    content: attr(data-stat);
    background-color: #4bff2f;
    display: inline-block;
    padding: 7px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
}

.stat_bar.low::before {
    width: 40%;
}

.stat_bar.mid::before {
    width: 70%;
}

.stat_bar.high::before {
    width: 100%;
}

/* Why to participate? */
#participation ul {
    list-style: none;  
    padding-left: 0; 
}

#participation li:before { 
    content: '> ';
}

/* Sponsors */
#sponsors img {
    width: 300px;
}

/* Archive */
.table {
    color:#fff
}

table td, table th {
    border: 0 !important;
    padding-left: 0 !important;
}

.pdf-file {
    height: 30px;
}

/* Contact */
#asi_logo {
    max-width: 300px;
    display: block;
}

/* RESPONSIVNESS */
@media screen and (max-width: 576px) {
    #intro {
        font-size: 1.8rem;
    }

    #lang_options_title {
        font-size: 3rem;
    }

    .stat_bar{
        max-width: 290px;
    }
}

/* JAVASCRIPT */
/* To avoid flickering due to text reveal effect */
section:not(#introduction), #organizers {
    visibility: hidden;
}